.folder
{

    display: flex;
    justify-content: center;

    .content
    {

        width: 80%;
    
        .head
        {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;

        }

        .medias
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            column-gap: .5em;
            row-gap: .5em;

        }
        
        
    }

    
    
}