.media-settings
{

    background-color: $background;
    border-radius: 5px;
    border: 2px solid $primary;

    padding: $default-space;

    height: 500px;
    width: 1000px;

    overflow-x: scroll;

    box-shadow: 0px 0px 50px 10px $accent;

    .head
    {
        display: flex;
        align-items: center;

        padding-bottom: 1em;
        border-bottom: 1px $primary solid;

        .title
        {
            flex-grow: 10;
        }

        .close
        {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            cursor: pointer;

            &:hover
            {
                text-decoration: underline;
                color: $accent;
            }
        }
    }

    .body
    {

        .fields.inline
        {
            display: flex;
            flex-direction: row;
        }

        .fields
        {
            display: flex;
            flex-direction: column;
        }

        .fields
        {

            border-bottom: dotted 1px $primary;

            .field
            {
                display: flex;
                flex-direction: column;
                margin: $default-space;
                span
                {
                    text-align: center;
                }

                input:disabled
                {
                    color: $text;
                    background-color: $background;
                    width: 250px;
                }
                
                .tags
                {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    height: 120px;
                    overflow: scroll;
                    align-items: center;

                    .tag
                    {
                        display: flex;
                        align-items: center;
                        margin: 1em;
                        cursor: pointer;
                        
                        -webkit-user-select: none; /* Safari */
                        -ms-user-select: none; /* IE 10 and IE 11 */
                        user-select: none; /* Standard syntax */

                        input
                        {
                            margin: 5px;
                        }
                    }

                }

                .properties
                {

                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-wrap: wrap;

                    column-gap: 1em;
                    row-gap: 1em;


                    .property
                    {

                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        height: 150px;
                        width: 300px;
                        overflow: hidden;

                        .name
                        {
                            font-size: 18px;
                            text-transform: uppercase;
                            text-decoration: underline;
                            font-weight: 500;
                        }

                        .inputs 
                        {
                            flex-grow: 1;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;


                            .counter
                            {

                                display: flex;
                                align-items: center;

                                .value
                                {
                                    border: 2px $secondary solid;
                                    border-radius: 10px 0px 0px 10px;
                                    padding: 5px;
                                    width: 50px;
                                    height: 50px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                                .buttons 
                                {
                                    height: 50px;
                                    padding: 5px;
                                    width: 30px;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;

                                    border: 2px $secondary solid;
                                    border-radius: 0px 10px 10px 0px;

                                    .counter-button
                                    {
                                        font-size: 24px;
                                        font-weight: 500;
                                        cursor: pointer;
                                        width: 30px;
                                        height: 30px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;

                                        &:hover
                                        {
                                            color: $accent;
                                        }
                                    }
                                }

                            }

                            .textarea 
                            {
                                border-radius: 10px;
                                border: 3px solid $secondary;
                                background-color: $background;
                                color: $text;

                                resize: none;
                                height: 100px;
                                width: 290px;
                            }

                        }

                    }
                }
            }
        }

    }

}