.research
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;

    .head
    {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100px;

        .button
        {
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .body {

        .images
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            column-gap: .5em;
            row-gap: .5em;

            .image
            {
                height: 250px;
                width: 250px;
                object-fit: cover;
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }
    


}