.button {

    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    background-color: $secondary;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover
{
    text-decoration: underline;
    cursor: pointer;
    background-color: $accent;
}