$card-height: 800px;
$card-width: 500px;

$card-head: 60px;
$card-footer: 50px;

.card
{
    height: calc( $card-height + 10px );
    width: $card-width;

    overflow: hidden;

    margin: $default-space 0;

    border: 2px solid $accent;
    border-radius: 10px;

    .card-head
    {
        height: $card-head;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .folder
        {

            display: flex;
            align-items: center;

            .icon
            {
                height: 48px;
                width: 48px;
                border-radius: 100%;

                object-fit: cover;
                margin: 0 .5em;
            }

            .folder_name
            {
                font-size: 20px;
                font-weight: 600;
                
            }
        }

        
    }

    .card-body
    {
        height: calc(100% - $card-head - $card-footer);
        width: auto;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
        .card-image{
            object-fit: cover;
        }

        .card-image.full-height{
            height: 100%;
            width: 100%;

        }

        .card-image.full-width{
            height: auto;
            width: 100%;
        }
    }

    .card-footer
    {
        height: $card-footer;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .view
        {

        }

        .date
        {

        }

    }
}