$card-height: 800px;
$card-width: 500px;

$card-head: 50px;
$card-footer: 50px;

.card
{
    height: $card-height;
    width: $card-width;

    overflow: hidden;

    margin: $default-space 0 ;

    .card-head
    {
        height: $card-head;
        background-color: $accent;

        border-radius: 10px 10px 0 0;
    }

    .card-body
    {
        height: calc(100% - $card-head - $card-footer);
        width: auto;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
        .card-image{
            object-fit: cover;
        }

        .card-image.full-height{
            height: 100%;
            width: 100%;

        }

        .card-image.full-width{
            height: auto;
            width: 100%;
        }
    }

    .card-footer
    {
        height: $card-footer;
        background-color: $accent;
        border-radius: 0 0 10px 10px;
    }
}