.filter-panel
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .panel-title
    {
        font-size: 30px;
        text-decoration: underline;
        margin: 10px;
    }

    .spacer
    {
        height: 2px;
        background-color: $accent;
        border-radius: 10px;

        margin: 1em;

        width: 80%;
    }

    .fields
    {

        .field
        {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .field-text
            {
                margin: .5em 0;
                text-transform: capitalize;
                text-decoration: underline;
            }

            .field-input
            {
                border: 2px solid $accent;
                border-radius: 8px;
                padding: .3em;
                font-size: 16px;
            }

        }

    }
    
    .history
    {

        height: 200px;
        width: 200px;

        .history-size
        {
            text-align: center;
            margin: .5em;
            text-decoration: underline;
        }
      
        .history-list{

            list-style: none;
            padding: 0;
            overflow: scroll;
            height: 100%;

            .history-item
            {
                cursor: pointer;
                margin: .5em;

                &:hover
                {
                    text-decoration: underline;
                }
            }
        }
        
    }
}