@import './settings.scss';

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.App
{
    min-height: 100dvh;
    width: 100dvw;
    display: flex;
    
    .container
    {
        width: calc(100dvw - $nav-width);
        margin-left: $nav-width;
        transition-duration: 0.2s;

        &.has-side-bar
        {
            width: calc(100dvw - ($nav-width * 2));
            transition-duration: 0.2s
        }
    }

   


}

.App {

    @import "./colors/default.scss";

    @import './components/components.scss';
    @import './pages/page.scss';
    @import './panels/panels.scss';

    color: $text;
    background-color: $background;
    
    p{ color: $text; }

    a{ color: $text; }
    
}

.App.theme-pink {

    @import "./colors/pink.scss";

    @import './components/components.scss';
    @import './pages/page.scss';
    @import './panels/panels.scss';

    color: $text;
    background-color: $background;

    p{ color: $text; }

    a{ color: $text; }   
}