@import './settings.scss';

@import './components/components.scss';

@import './pages/auth';

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: $text;
}

.App
{
    background-color: $background;
    min-height: 100dvh;
    width: 100dvw;
    display: flex;
}

.container
{
    width: calc(100dvw - $nav-width);
    margin-left: $nav-width;
}